body {
    background: #f5f7fa;
    color: #333;
    margin: 0;
    padding-top: 5rem; 
    font-family: "Inter", "Roboto", Arial, sans-serif;
    letter-spacing: 0.3px;
}

h1 {
    font-size: 2.8rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
    color: #576574;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.4rem;
    color: #2c3e50;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.home-container {
    max-width: 1100px;
    width: 190%;
    margin: 2rem auto;

    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.home-container-internal {
    max-width: 1100px;
    width: 100%;
    margin: 2rem auto;

    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.home-container p {
    font-size: 1.15rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.p-final {
    margin-top: 2.5rem;
    font-size: 1.2rem;
}

.home-container ul {
    list-style-type: disc;
    padding-left: 1.7rem;
    margin-bottom: 2rem;
}

.home-container ul li {
    font-size: 1.15rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.12);
}


footer {
    background: #2c3e50;
    color: #fff;
    padding: 1.2rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}


.footer-container {
    max-width: 1100px;
    width: 92%;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
}


@media (max-width: 768px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .home-container {
        padding: 1.5rem;
    }

    .home-container p,
    .home-container ul li {
        font-size: 1.05rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}