body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
  padding: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding: 10px 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.submenu-tratamentos ul li{
  list-style: none;
  text-align: center;
  position: relative;
}

.submenu-tratamentos ul li ul{
  display: none;
  border-radius: 5%;
  position: absolute;
  top: 100%; /* aparece abaixo do item pai */
  left: 0%;
  background-color: #5f788a;
  list-style: none;
  z-index: 999; /* garante que fique acima do conteúdo */
}

.submenu-tratamentos ul li a{
  display: block;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  text-decoration: none;
  color: lightgray;
}

.submenu-tratamentos ul li a:hover{
  color: #ffffff;
  text-decoration: none;
}

.submenu-tratamentos ul ul{
  display: none;
  margin: 0px;
}

.submenu-tratamentos ul li:hover ul{
  display: block;
}

