<!-- templates/recent_movies.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Nome Pacientes</title>
</head>
<body>
   <h1>Pacientes</h1>
   <ul>
      {% for paciente in Pacientes %}
            <li>
               <strong>{{ paciente.nome }}</strong> <!--(Released: {{ paciente.released }})-->
            </li>
      {% empty %}
            <li>No pacients found.</li>
      {% endfor %}
   </ul>
</body>
</html>