{% extends "clinica/public/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clinica/public/main_desease.css' %}">

<div class="desease-container">	
    <div class="desease-container-internal">
        <h1>Dentes Inclusos</h1>
        <h2>SISOS</h2>
        <p>
            Os terceiros molares, (conhecidos como dentes do siso ou do juízo), que são em número de quatro, encontra-se atrás dos últimos dentes, era, segundo os estudiosos, muito importante na época em que o homem tinha uma vida selvagem. Hoje, estes dentes estão com tendências de desaparecer, tendo como causa principal o tipo de alimentação consumida nos dias de hoje, ou seja, alimentos mais pastosos, exigindo menos mastigação gerando, com isso, uma diminuição das arcadas dentárias, reduzindo o espaço para os dentes e aumentando bastante o apinhamento e dificultando o posicionamento correto, dos dentes dos sisos e de vários outros dentes.
        </p>
        <p>
            Em muitos casos, por não ter espaço para romperem nas arcadas dentárias, os dentes do siso podem empurrar e desalinhar ou outros dentes, provocando problemas de má oclusão dentária e sintomas de ATM ou DTM (Disfunção na Articulação Têmporo Mandibular). Assim sendo, nos casos dos dentes do siso inclusos, semi inclusos ou impactados, eles devem ser removidos.
            Obs: dentes inclusos ou impactados, quando algo impede sua erupção, como um cisto, osso muito compacto, dentes vizinhos ou principalmente falta de espaço, alterações nas raízes, impediram o nascimento normal desses dentes. Esse problema pode acontecer com qualquer dente.
        </p>
        <div>
            <img src="{% static 'clinica/public/img/dente_incluso.jpeg' %}" 
                    alt="Radiografia ou diagrama mostrando dente siso (terceiro molar) impactado e sua relação com o segundo molar.">
        </div>
    </div>

    <div class="desease-container-internal">
        <h2>Dentes Inclusos</h2>
        <p>São aqueles dentes que mesmo após completamente formados, não fizeram seu rompimento na época normal.</p>
        <ul>
            <p>Os dentes inclusos com maior incidência:</p>
            <li>Caninos</li>
            <li>Pré-molares</li>
        </ul>

        <ul>
            <p>Indicações:</p>
            <li>Falta de espaço.</li>
            <li>Indicação ortodôntica.</li>
            <li>Dano no dente vizinho.</li>
            <li>Protética.</li>
            <li>Cistos e tumores.</li>
            <li>Infecções recorrentes.</li>
            <li>Reabsorção interna ou cárie no incluso.</li>
            <li>Perda de função.</li>
            <li>Dor de origem desconhecida (A.T.M., cabeça, arcada)</li>
        </ul>
    </div>
</div>

<footer>
    <div class="footer-container">
        <p><b>Bucal Face – 28 anos de cuidado, confiança e sorrisos transformados.</b></p>
    </div>
</footer>

{% endblock content %}