{% extends "clinica/public/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clinica/public/desease/main_desease.css' %}">
    <div>
        <div>
            <h1>Expansão de Maxila Atrésica (Cirurgia para Alargar o "Céu da Boca")</h1>
            <p>O objetivo de um sorriso saudável é ter dentes alinhados e um encaixe perfeito (oclusão) entre o maxilar superior (onde ficam os dentes de cima) e a mandíbula (onde ficam os dentes de baixo). Para isso, é crucial que esses ossos estejam nas dimensões corretas: horizontal, vertical e, principalmente, transversal (largura).</p>
            <p>A Maxila Atrésica ocorre quando o maxilar superior é muito estreito. Essa condição, conhecida como deficiência transversal, pode ter causas genéticas, fisiológicas ou estar relacionada a hábitos.</p>
            <ul>
                <h2>Consequências de uma Maxila Estreita:</h2>
                <li>
                    <p><b>Falta de Espaço</b>: Causa dentes tortos ou "apinhados".</p>
                </li>
                <li><p><b>Palato Ogival</b>: O "céu da boca" (palato) fica muito fundo e estreito.</p></li>
                <li>
                    <p><b>Mordida Cruzada</b>: Os dentes de cima não conseguem encaixar por fora dos dentes de baixo, ficando desalinhados lateralmente.</p>
                </li>
            </ul>
        </div>

        <div>
            <p>A Solução para Adultos: Disjunção Maxilar Assistida Cirurgicamente (SARPE)</p>
            <p>Em crianças e adolescentes, que ainda estão em fase de crescimento, é possível alargar o maxilar apenas com aparelhos ortopédicos. No entanto, em pacientes adultos, os ossos do maxilar superior estão firmemente unidos (a sutura intermaxilar está calcificada).</p>
            <p>Nesses casos, a tentativa de alargar o maxilar apenas com o aparelho ortodôntico (tratamento não-cirúrgico) é ineficiente e pode causar danos, como retração da gengiva ou reabsorção das raízes dos dentes.</p>
            <p>A técnica indicada para adultos com atresias maiores que 5 mm é a Disjunção Maxilar Assistida Cirurgicamente (SARPE - do inglês Surgically Assisted Rapid Palatal Expansion).</p>
        </div>

        <div>
            <ul>
                <h3>O Procedimento e a Técnica</h3>
                <li>
                    <p><b>Aparelho Expansor</b>: Alguns dias antes da cirurgia, o Ortodontista instala um aparelho especializado (como o tipo Hirax ou Hass) nos dentes superiores.</p>
                </li>
                <li>
                    <p><b>Cirurgia</b>: O procedimento cirúrgico é realizado pelo Cirurgião Bucomaxilofacial. Dependendo da complexidade do caso, pode ser feito no consultório com anestesia local e sedação consciente, ou no hospital sob anestesia geral.</p>
                </li>
                <li><p><b>Osteotomias (Cortes Ósseos)</b>: Durante a intervenção, o cirurgião faz pequenas secções ósseas controladas (osteotomias) para enfraquecer ou "liberar" a sutura intermaxilar.</p></li>
                <li>
                    <p><b>Ativação</b>: Após as osteotomias, o cirurgião ativa o aparelho expansor. O sinal mais claro do sucesso da separação óssea é o surgimento de um espaço entre os dentes da frente (diastema).</p>
                </li>
                <li>
                    <p><b>Pós-Operatório</b>: O paciente é instruído a realizar ativações diárias do aparelho (girar um parafuso) até que a largura desejada seja alcançada e a mordida cruzada seja corrigida.</p>
                </li>
            </ul>
            <p>Este tratamento, planejado em conjunto pelo cirurgião e ortodontista, é a forma mais previsível e segura para expandir o maxilar superior em pacientes esqueleticamente maduros. Todos os riscos são detalhadamente discutidos com o paciente antes da intervenção.</p>
        </div>
        
    </div>
{% endblock content %}