{% extends "clinica/public/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clinica/public/desease/main_desease.css' %}">

<div>
    <h1>Frenectomia Lingual e Labial</h1>

    <p>O freio (ou frênulo) é uma pequena faixa de tecido que ajuda a unir partes da boca e a limitar seus movimentos dentro do necessário. Existem dois principais tipos: o freio lingual (embaixo da língua) e o freio labial (entre o lábio e a gengiva).</p>

    <h2>Freio Lingual</h2>

    <p>
        O freio lingual é uma estrutura que liga a parte inferior da língua ao assoalho da boca.
        Ele é formado por tecido conjuntivo rico em fibras colágenas e elásticas, pequenas células de gordura, fibras musculares e vasos sanguíneos.
    </p>

    <div class="imagem-centrada" style="margin: 20px 0;">
        <img src="{% static 'clinica/public/img/freio_labial_2.jpeg' %}" 
        alt="Imagem ilustrativa do freio labial" style="max-width: 90%; height: auto; border-radius: 8px;">
    </div>

    <ul>
        <p>Quando o freio é curto (chamado de anquiloglossia), ele pode limitar os movimentos da língua, afetando:</p>
        <li>A fala (dificultando a pronúncia de algumas sílabas).</li>
        <li>A mastigação e a sucção (em bebês).</li>
        <li>A posição dos dentes, podendo causar um pequeno espaço entre os incisivos inferiores (diastema).</li>
    </ul>

    <p>Nos recém-nascidos, o freio se estende da base da mandíbula até a ponta da língua, mas com o crescimento, a língua alonga e o freio assume uma posição mais adequada. Quando isso não ocorre naturalmente e há prejuízos funcionais, pode ser indicada uma cirurgia de correção, chamaada frenectomia lingual.</p>

    <h2>Freio Labial</h2>

    <p>O freio labial é o tecido que liga o lábio (geralmente o superior) à gengiva. Ele se origina na mucosa interna do lábio e se insere na região da gengiva, podendo chegar até a papila palatina (entre os dentes centrais).</p>

     <div class="imagem-centrada" style="margin: 20px 0;">
        <img src="{% static 'clinica/public/img/freio_labial.jpeg' %}" 
        alt="Imagem ilustrativa do freio lingual" style="max-width: 90%; height: auto; border-radius: 8px;">
    </div>
    
    <ul>
        <p>Quando o freio é muito espesso, alongado ou inserido em posição inadequada, ele pode causar:</p>
        <li>Diastema interincisal (espaço entre os dentes da frente).</li>
        <li>Dificuldade de escovação e acúmulo de resíduos.</li>
        <li>Irritação gengival e risco de doença periodontal.</li>
        <li>Limitação dos movimentos do lábio e dificuldades na fala.</li>
    </ul>

    <p>Nem sempre o diastema é causado pelo freio. Em crianças, por exemplo, o espaço entre os dentes da frente pode ser temporário e natural, desaparecendo após a erupção dos caninos permanentes.</p>

    <h2>Diagnóstico</h2>

    <ul>
        <p>O diagnóstico é feito através do exame clínico, observando:</p>
        <li>A inserção baixa do freio (próxima à gengiva ou à papila palatina).</li>
        <li>O clareamento momentâneo (isquemia) da papila ao puxar o freio.</li>
        <li>A presença de diastema interincisal.</li>
    </ul>

    <p>Essas observações ajudam o dentista a determinar se o freio é realmente a causa do problema e se há necessidade de cirurgia.</p>

    <h2>Frenectomia – Cirurgia de Remoção do Freio</h2>

    <p>A frenectomia é o procedimento cirúrgico indicado quando o freio causa alterações funcionais, estéticas ou interfere em outros tratamentos.</p>

    <ul>
        Indicações mais comuns:
        Freio labial ou lingual muito espesso ou persistente;
        Diastema interincisal que não se fecha naturalmente;
        Dificuldade de fala, mastigação ou sucção;
        Irritação constante e aparecimento de aftas;
        Necessidade de melhorar o resultado de tratamentos ortodônticos ou protéticos;
        Prevenção de problemas periodontais (mais comuns no freio labial inferior).
    </ul>

    <p>A cirurgia é simples e pode ser feita com anestesia local. O tecido é removido ou reposicionado, e o material pode ser enviado para biópsia, garantindo um diagnóstico completo.</p>

    <h2>Momento Ideal da Cirurgia</h2>

    <ul>
        <p>O momento certo para realizar a frenectomia pode variar:</p>
        <li>Ortodonticamente, alguns profissionais indicam o procedimento após a erupção dos incisivos laterais (por volta dos 8 anos), se o freio não regrediu naturalmente.</li>
        <li>Outros recomendam aguardar a erupção dos caninos permanentes, quando o espaço entre os dentes tende a fechar sozinho.</li>
        <li>Em casos mais graves, pode ser feita antes ou durante o tratamento ortodôntico, para evitar recidiva do diastema.</li>
        <p>
            A frenectomia é, portanto, um procedimento simples, seguro e altamente eficaz.
            Ela melhora a função, estética e saúde bucal, proporcionando mais conforto ao paciente e evitando complicações futuras.
        </p>
    </ul>
</div>

{% endblock content %}