{% extends "clinica/public/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clinica/public/desease/main_desease.css' %}">
    <div>
        <h1>Cirurgia Ortognática Harmonizando a Face e a Mordida</h1>

        <p>A Cirurgia Ortognática é um procedimento especializado que corrige desarmonias significativas entre os dentes e os ossos da face (maxilares). É a solução definitiva para problemas de mordida (má oclusão) que não podem ser resolvidos apenas com o uso de aparelhos ortodônticos.</p>

        <h2>Para que Problemas a Cirurgia é Indicada?</h2>
         <ul>
            <p>A Cirurgia Ortognática atua na correção das desarmonias ósseas da face, que são classificadas em três planos principais:</p>

            <li><p><b>Plano Antero-Posterior (Frente-Trás):</b> Este plano trata do posicionamento dos maxilares no sentido horizontal.</p>
                <ul>
                    <li>
                        <p><b>Problema:</b> Desvio dos maxilares para frente ou para trás.</p>
                    </li>
                    <li>
                        <p>
                            <b>Exemplos Comuns:</b> <br>
                            "Queixo Grande" (Prognatismo Mandibular): Quando a mandíbula está muito projetada para a frente. <br>
                            "Queixo Pequeno" (Micrognatismo Mandibular): Quando a mandíbula está muito retraída (curta) em relação ao maxilar superior.
                        </p>
                    </li>
             
                </ul>
            </li>
             
            <li>
                <p><b>Plano Vertical (Altura):</b> Este plano corrige o excesso ou a falta de altura no terço inferior da face.</p>
                <ul>
                    <li>
                        <p><b>Problema:</b> Excesso ou deficiência de altura.</p>
                    </li>
                    <li>
                        <p>
                            <b>Exemplos Comuns:</b> <br>
                                "Sorriso Gengival": Excesso de exposição da gengiva ao sorrir, frequentemente devido a um excesso de altura do maxilar superior. <br>
                                Face Longa: Característica de indivíduos que não conseguem manter os lábios fechados em repouso (Incompetência Labial), indicando excesso de altura facial.
                        </p>
                    </li>
                </ul>
            </li>
             
            <li><p><b>Plano Transversal (Largura):</b> Este plano visa corrigir desarmonias no sentido lateral da face.</p>
                    <ul>
                        <li>
                            <p>Problema: Desarmonia na largura entre os maxilares (um lado pode ser maior ou menor que o outro).</p>
                        </li>
                        <li>
                            <p>
                                <b>Exemplo Comum:</b> <br>
                                Assimetria Facial: Face "torta" ou desviada lateralmente, o que afeta o encaixe da mordida e a estética.
                            
                            </p>
                        </li>
                    </ul>
            </li>
         </ul>

        <h3>Quando a Cirurgia é Recomendada?</h3>

        <p>O momento ideal para realizar a cirurgia é após o término do crescimento esquelético facial (final da adolescência), garantindo a estabilidade dos resultados. Em casos raros, a cirurgia pode ser antecipada se a deformidade facial estiver causando sérios problemas no convívio social do adolescente, mediante um planejamento muito detalhado.</p>

        <h4>A Importância do Tratamento Combinado (Ortodontia e Cirurgia)</h4>

        <ul>
            <h5>Em quase todos os casos, a cirurgia ortognática exige uma fase de preparo:</h5>

            <li><p>Tratamento Ortodôntico PréCirúrgico (12 a 18 meses, em média) O ortodontista utiliza o aparelho para alinhar os dentes dentro de cada osso (maxilar e mandíbula) para a melhor posição possível. Este preparo é essencial para que o encaixe final da mordida seja satisfatório após o procedimento cirúrgico.</p></li>
            
            <li><p>Cirurgia (Transoperatório) O Cirurgião Bucomaxilofacial realiza o reposicionamento dos ossos.</p></li>

            <li>
                <p>Tratamento Ortodôntico PósCirúrgico (após 10 meses, em média) Ajustes finais na mordida são realizados pelo ortodontista.</p>
            </li>
        </ul>

        <ul>
            <h5>Sobre o Procedimento Cirúrgico:</h5>
            <li>
                <p>Local e Anestesia: É sempre realizada em ambiente hospitalar sob anestesia geral.</p>
            </li>
            <li>
                <p>Cortes (Incisões): Todas as incisões são feitas dentro da boca (intraoral), o que significa que não há cicatrizes visíveis na face.</p>
            </li>
            <li>
                <p>Fixação dos Ossos: A fixação dos segmentos ósseos reposicionados é feita através de miniplacas e miniparafusos biocompatíveis.</p>
            </li>
            <li>
                <p>Bloqueio Maxilar (Boca Fechada): Graças à rigidez desta fixação, na grande maioria dos casos não é mais necessário "amarrar" a boca (bloqueio maxilomandibular) após a cirurgia. O paciente consegue manter a mobilidade mandibular, facilitando a alimentação e a higiene.</p>
            </li>
        </ul>

        <ul>
            <h5>Recuperação e Profissionais Envolvidos:</h5>
            <li>
                <p>Inchaço (Edema) O inchaço facial é esperado e tende a diminuir significativamente em cerca de 4 a 5 dias.</p>
            </li>
            <li>
                <p>Retorno às Atividades O paciente costuma estar apto a retomar atividades rotineiras em torno de 10 a 15 dias, mas a recuperação total leva mais tempo.</p>
            </li>
            <li>
                <p>Profissionais Chave O tratamento é sempre realizado por uma equipe o Ortodontista (responsável pelo movimento dentário) e o Cirurgião Bucomaxilofacial (único profissional apto a realizar a intervenção cirúrgica).</p>
            </li>
        </ul>
    </div>
{% endblock content %}