{% extends "clinica/public/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clinica/public/desease/main_desease.css' %}">
    	
    <div>
        <h1>Tracionamento Dentário</h1>

        <div>
            <ul>
                <p>
                    Alguns dentes podem permanecer “presos” dentro do osso e não nascer na época esperada. Isso é chamado de retenção dentária.
                    Essa situação pode ter várias causas, como:
                </p>
                <li>
                    <p>Falta de espaço na arcada dentária.</p>
                </li>
                <li>
                    <p>Posição incorreta do dente durante o desenvolvimento.</p>
                </li>
                <li>
                    <p>Presença de dentes extras (supranumerários).</p>
                </li>
                <li>
                    <p>Cistos ou tumores que bloqueiam o caminho.</p>
                </li>
                <li>
                    <p>Perda precoce dos dentes de leite, que pode atrapalhar a erupção do dente permanente.</p>
                </li>
            </ul>
        </div>

         <div class="imagem-centrada" style="margin: 20px 0;">
            <img src="{% static 'clinica/public/img/tracionamento_de_dente_incluso.jpeg' %}" 
            alt="Imagem ilustrativa de um implante dentário" style="max-width: 90%; height: auto; border-radius: 8px;">
        </div>


        <p>
            Existem diferentes formas de tratamento para ajudar esses dentes a chegarem à posição correta.
            Em alguns casos, o dente está bem posicionado e com a raiz ainda em formação (rizogênese incompleta), mas não consegue erupcionar por causa de um obstáculo mecânico.
            Nessas situações, basta remover essa barreira e manter o espaço livre na boca para que o dente erupcione naturalmente, sem necessidade de movimentação ortodôntica.
        </p>

        <p>
            Quando o dente está completamente formado (com a raiz pronta) e mal posicionado dentro do osso, é indicado o tracionamento dentário, um procedimento cirúrgico-ortodôntico conservador.
            Esse tratamento deve ser planejado em conjunto entre o <b>cirurgião bucomaxilofacial</b> e o <b>ortodontista</b>, levando em conta os riscos e benefícios de cada caso.
            A localização exata do dente e o estágio de desenvolvimento da raiz são avaliados por meio de exames clínicos, radiografias e tomografias.
        </p>

        <p>
            Durante a cirurgia, o profissional remove possíveis obstáculos que impedem o dente de nascer, expõe sua coroa e fixa nela um pequeno dispositivo ortodôntico.
            Esse dispositivo é conectado por um fio fino de aço ao aparelho ortodôntico, permitindo que o dente seja tracionado (puxado) gradualmente para a posição correta na arcada dentária.
            O fio fica discretamente exposto na gengiva, sem causar desconforto ao paciente.
        </p>

        <p>Assim, o tracionamento dentário é uma técnica eficaz e segura para recuperar dentes retidos, devolvendo funcionalidade, estética e saúde bucal ao paciente.</p>

    </div>

{% endblock content %}